<h1> Welcome </h1>



<% if @listing.image.url %>
 <%= image_tag @listing.image.url %>
 <% else %> 
================== <br />
NO PICTURE DISPLAY <br /> 
================== <br /> 
<% end %>
<br />




	Property Name:<%= @listing.property_name %> <br />
	Room Type:<%= @listing.room_type %> <br />
	Total Guest:<%= @listing.total_guest %> <br />
	Country:<%= @listing.country %> <br /> 
	<%= link_to 'Edit', edit_listing_path(@listing)%> <br />
	<%= link_to 'Delete', @listing, method: :delete %>
	<br />

	<div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date'>
	Check-in
                <input type='text' class="form-control" id='datetimepicker6'/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date'>
    Check-out
                <input type='text' class="form-control" id='datetimepicker7'/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
        	format: "YYYY-MM-DD"
        });
        $('#datetimepicker7').datetimepicker({
        	format: "YYYY-MM-DD",
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>

