<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnb</title>

<nav class="navbar navbar-light">
     <form class="form-inline" action="/searchresult" method="get">
       <input class="form-control mr-sm-2" type="search" placeholder="Search Country or Name" aria-label="Search" name="search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
   </nav>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <%= image_tag("logo/logo.png", width: '100px') %>
     <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
    </header>

    <section>
       <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
    </section>
  </body>
</html>
